h1
{
  text-align: center;
}

fieldset
{
  background-color:#CCC;
  max-width:500px;
  padding:16px;
}

legend {
  float: none;
  width:auto;
  padding:0 10px;
  border-bottom:none;
  text-decoration: underline;
  text-decoration-color: #0b5ed7;
}